################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UpgradeLog.htm
/StoryTeller/bin
/StoryTeller/obj
/StoryTeller.Library/bin
/StoryTeller.Library/obj
/StoryTeller.Library2
/StoryTeller.v12.suo
/StoryTeller/StoryTeller.csproj.user
/StoryTeller.suo
/StoryTeller/Assets/Thumbs.db
/ThirdParty/WinRTXamlToolkit/obj/Debug
/ThirdParty/WinRTXamlToolkit/bin/Debug
/ThirdParty/WinRTXamlToolkit/WinRTXamlToolkit.csproj.vspscc
