################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UpgradeLog.htm
/StoryTeller/bin
/StoryTeller/obj
/StoryTeller.Library/bin
/StoryTeller.Library/obj
/StoryTeller.Library2
/StoryTeller.v12.suo
